<!DOCTYPE html>

<html lang="en">
<head>
  		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COVID Mutual Aid Map</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

<link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
      <style>
      .table th {
        text-align: center;
      }
body{
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
	font-family: "Sen", Roboto, Helvtica, Arial !important;
	font-family-sans-serif: "Sen", Roboto, Helvtica, Arial !important;
	font-size: 18px;
}
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
      </style>


      </head>

<body class="home">
<div class="jumbotron jumbotron-fluid text-center">
<h1>COVID Mutual Aid groups map</h1>
  </div>

  <div class="col-lg-10 mx-auto" id="mapid" style="width: 800px; height: 600px;"></div>
      <script>
        var mymap=L.map('mapid').setView([38.600,-91.362],4);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHZlbmVzcyIsImEiOiJjazhpdjQ3eDQwYWF1M2xxbWJsMXFoZm9pIn0.zswYa_hE2DwOFW_R_Ropow', {
        		maxZoom: 18,
        		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        		id: 'mapbox/streets-v11',
        		tileSize: 512,
        		zoomOffset: -1
        	}).addTo(mymap);
{% for i in data %}
var marker{{i['id']}} = L.marker([{{i['lat']}}, {{i['lng']}}]).addTo(mymap);
marker{{i['id']}}.bindPopup('<b>{{i["name"]}}</b>{{(i["description"]|markdown).replace("\n","<br>")}}');
{% endfor %}
function onMapClick(e) {
  document.getElementById('lat').value=e.latlng.lat;
  document.getElementById('lng').value=e.latlng.lng;

}

mymap.on('click', onMapClick);

        </script>

        <div class="col-sm-12 col-lg-6 container row mx-auto justify-content-center align-items-center text-center" style="padding-top:40px;">

        <form method="post" action="/map">
<div class="form-group">
  <label>Group name</label>
  <input type="text" class="form-control" name="group_name">
</div>

<div class="form-group">
  <label>Location</label>
  <input type="text" class="form-control" name="group_location">
</div>

<div class="form-group">
  <label> Please click on map</label><br>
        Lat: <input type='text' id='lat' name='lat' readonly> Lon: <input type'text' id='lng' readonly name='lng'>
  </div>

<div class="form-group">
  <label>Description</label>
  <textarea rows="10" class="form-control" name="group_description">
  </textarea>
</div>
<div class="form-group">
  <label>Contact (optional)</label>
  <input type="text" rows="10" class="form-control" name="contact">
  </textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>
</body>
<div class="jumbotron" style="margin-top:50px; margin-bottom:0px;"> </div>
</html>
